html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.75rem;
}

header {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.logo-container span,
.logo-container p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 18px;
}

.logo-container span {
  color: black;
}

.logo-container p {
  font-weight: normal;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.85rem 0rem;
  text-shadow: 0.8px 0.8px white;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1.75rem;
  padding-top: 0.3rem;
  letter-spacing: 1.33px;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0px 8px;
  margin-bottom: 0.75rem;
  padding-top: 0.3rem;
}

.main-banner-text h4,
.info-banner h4,
.right-column h4 {
  margin-left: 0rem;
}

p {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 19px;
  margin: 0.43rem 0rem;
  line-height: 1.15rem;
  letter-spacing: 0.2px;
}

video {
  width: 100%;
  height: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 2.5rem;
  margin-left: 24px;
  margin-right: 2.5px;
}

nav {
  padding-right: 1rem;
}

nav span {
  padding: 0px 8px;
}

#icon-nav {
  display: none;
}

#icon-nav img {
  opacity: 0.55;
}

#icon-nav img:hover {
  opacity: 1;
  transition: opacity, 0.4s, ease, 0.2s;
}

@media only screen and (max-width: 700px) {
  #text-nav {
    display: none;
  }
  #icon-nav {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    align-items: center;
  }
  #icon {
    display: none;
  }
  #icon-nav a {
    padding: 0rem 0.4rem;
  }
  p {
    font-size: 16px;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  body {
    line-height: 1.2rem;
  }
  p {
    font-size: 14px;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  #icon-nav {
    padding: 0rem 0rem
  }
}

@media only screen and (max-width: 485px) {
  .logo-container {
    display: none;
  }
  #icon {
    display: flex;
  }
  #icon-nav {
    width: 100%;
  }
  #icon-nav img {
    height: 2.33rem;
  }
  header {
    justify-content: space-between;
    padding: 0rem 1.5rem;
  }
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bold;
  transition:
}

.main-banner,
.info-banner,
.course-banner,
.thesis-banner {
  display: flex;
}

.main-banner,
.info-banner,
.course-banner,
.thesis-banner {
  padding-left: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.course-banner {
  background-color: rgba(220, 220, 220, 0.85);
}

.main-banner {
  background-color: rgba(210, 210, 210, 1);
}

.info-banner h3 {
  padding-top: 1rem;
}

.main-banner-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  padding-left: 40px;
}

#btn {
  margin-top: 1rem;
  text-align: center;
  background-color: rgba(0, 25, 135, 0.7);
  background-color: hsl(230, 70%, 50%);
  color: white;
  padding: 12px 0px;
  margin-right: 1rem;
  width: 70%;
  font-weight: bold;
  border-radius: 10px;
}

#btn:hover {
  background-color: hsl(230, 80%, 40%);
  transition: background-color, 0.5s, ease-out, 0.3s;
}

.banner-img,
.left-content,
.video-content {
  min-width: 60%;
  width: 60%;
}

.main-banner img,
.info-banner .left-content img {
  width: 100%;
}

#mobile-banner-img {
  display: none;
}

.right-content {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.right-content a {
  color: rgba(0, 0, 220, 0.85);
  margin-top: 0.5rem;
}

.right-content img,
#fisma img, #research img {
  width: 35%;
  height: 35%;
  overflow: hidden;
  margin: 16px 16px;
}

#mobile-orientation-img,
#mobile-campus-img,
#mobile-lecture-img {
  display: none;
}

@media only screen and (max-width: 485px) {
  .main-banner {
    flex-direction: column;
    margin: 0rem 0rem;
    padding: 0rem 0rem;
    align-items: center;
  }
  .main-banner .banner-img {
    width: 100%;
  }
  .banner-img img {
    display: none;
  }
  #mobile-banner-img {
    display: flex;
  }
  .main-banner-text {
    width: 100%;
    align-items: center;
    padding-left: 0px;
  }
  #btn {
    margin-top: 12px;
    margin-bottom: 32px;
  }
  h2 {
    margin: 32px 0px;
    padding: 0rem 1rem;
    text-align: center;
  }
  .main-banner h4 {
    padding-top: 0px;
    padding: 0rem 1rem;
    margin-right: 0px;
    text-align: center;
  }
}

#fisma img, #research img {
  height: auto;
}

.orientation img {
  margin-top: 0px;
  height: auto;
}

.campus img,
.guest-lecture img{
  height: auto;
}

.right-content .orientation-text,
.campus-text, .guest-text,
.fisma-text, .research-text {
  display: flex;
  width: 65%;
  flex-direction: column;
  justify-content: center;
}

.orientation,
.campus,
.guest-lecture {
  display: flex;
}

.course-banner,
.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.courses {
  width: 100%;
  justify-content: center;
}

#software-engineering, #computer-art, #design,
#data, #business, #marketing {
  width: 28%;
  z-index: 5;
  margin: 0.5rem 0.4rem;
  background-color: white;
  padding-bottom: 1rem;
}

#software-engineering:hover, #computer-art:hover,
#design:hover, #data:hover, #business:hover,
#marketing:hover {
  box-shadow: 5px 5px 8px rgba(30,30,30,0.35);
  transition: box-shadow, 1s, ease, 0.3s;
}

.courses p {
  opacity: 0.70;
}

.courses img {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

@media only screen and (max-width: 485px) {
  .info-banner {
    padding: 16px 16px;
    margin-bottom: 16px;
  }
  .left-content {
    display: none;
  }
  .right-content,
  .right-content .orientation, .orientation-text,
  .right-content .campus, .campus-text,
  .right-content .guest-lecture, .guest-text {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
  }
  .right-content img {
    display: none;
  }
  #mobile-orientation-img,
  #mobile-campus-img,
  #mobile-lecture-img {
    display: flex;
    width: 100%;
    height: auto;
    margin: 16px 0px;
  }
  .right-content h4, .right-content p, .right-content span {
    margin-left: 16px;
    padding: 0rem 0rem;
    margin-bottom: 0px;
    width: 100%;
  }
  .right-content p {
    margin: 12px 16px;
  }
  .right-content span {
    font-size: 12px;
  }
  .course-banner p,
  .course-banner img {
    display: none;
  }
  .course-banner {
    padding: 0px 16px;
    margin-bottom: 16px;
    background-color: white;
  }
  .courses {
    flex-direction: column;
  }
  #software-engineering, #computer-art,
  #design, #data, #business, #marketing {
    width: 100%;
    margin: 4px 0px;
    padding-bottom: 0px;
    background-color: rgba(220, 220, 220, 0.85);
  }
  .course-banner h3 {
    margin-bottom: 16px;
  }
  .courses h4 {
    padding: 0rem 0rem;
    margin: 16px 16px;
    font-weight: normal;
  }
}

.video-content h4 {
  margin: 10px 0px;
}

.courses p {
  margin-left: 8px;
  margin-right: 8px;
}

.thesis-banner,
.video-content,
.right-column {
  display: flex;
  flex-wrap: wrap;
}

.thesis-banner {
  margin-bottom: 32px;
}

.title {
  text-align: center;
  width: 100%;
}

.right-column {
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.info-banner .right-content p,
.thesis-banner .right-column p {
  padding-right: 0.5rem;
}

#fisma, #research {
  display: flex;
  align-items: center;
  height: 35%;
}

#fisma img, #fisma,
#research img, #research {
  margin-top: 0px;
  margin-bottom: 16px;
  overflow: hidden;
}

.thesis-banner .video-column p {
  margin-left: 24px;
}

footer {
  display: flex;
  border-top: 1px solid rgba(230, 230, 230, 0.8);
  justify-content: space-between;
}

footer p {
  font-family: 'Ubuntu', sans-serif;
  padding: 0px 24px;
  margin: 3rem 0rem;
}

@media only screen and (max-width: 485px) {
  .thesis-banner .right-column,
  .thesis-banner h4, .thesis-banner p {
      display: none;
  }
  .thesis-banner .video-content {
    width: 100%;
    height: auto;
  }
  .thesis-banner {
    padding: 0px 16px;
  }
  .title {
    margin-top: 16px;
  }
  footer .terms-privacy {
    display: none;
  }
  footer p {
    font-size: 10px;
  }
}
